// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// my app variables
$primary-background: rgba(235, 235, 235, 0.787);
$primary-color: #9a9ead;
$main_color: rgb(114, 59, 59);
$nav-background:rgb(74, 82, 95);


// vuetify overrides variables
$btn-border: 20px !important;
$my-link-color: rgb(45, 44, 48);